<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SubmitAsciiArt</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1 align = "center">ASCI-ART WEB</h1><br><br>
  <div class="container">
    <div class="left-box" >
      <h2>Create Your Own Ascii Art</h2>
    </div>
    <div class="center-box">
        <form action="\ascii-art" method="POST">
            <div class="right-box" >
              <label for="text"><strong>Input Text:</strong></label>
              <textarea id="inputStr" name="inputStr" rows="6" cols="50" placeholder="enter text" required>{{ .Input }}</textarea><br><br>
              <div class="button-container" >
                <select id="style" name="style">
                  <option value="" disabled selected>Select Banner File</option>
                  <option value="standard">Standard</option>
                  <option value="shadow">Shadow</option>
                  <option value="thinkertoy">Thinkertoy</option>
              </select>
                <button type="submit" id="submitButton">Print</button>                 
              </div>
            </div>

        </form>
    </div>
   </div>
   <h1 align="center">YOUR ASCII ART</h1>
  <section>   
    <p><pre>{{ .AsciiArt }}</pre></p>
  </section>
  <div class="download-container">
    <a id="downloadButton" href="/files/download-art.txt" download>Download Art</a> 
  </div>
</body>
</html>

